@import '@/assets/css/config';

// TODO: focus visible

.container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 10px 12px;
  border: 1px solid $gray-4;
  border-radius: $radius;
  cursor: text;
  transition: $transition;

  &.error {
    border-color: $red;
  }
}

.input {
  @include paragraph-2;

  flex-grow: 1;
  width: 0;
  border: none;
  outline: none;
  flex-grow: 1;
  background: none;
  color: $gray-2;
}
