@import "@/assets/css/config";

.inputContainer {
  cursor: pointer;

  .withPopover[data-placement="bottom"][data-status="open"] & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
  }

  .withPopover[data-placement="top"][data-status="open"] & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: transparent;
  }
}

.input {
  .withPopover:not(.inputtable) & {
    pointer-events: none;
    color: $black;
  }
}

.items {
  max-height: 400px;
  width: 100%;
  overflow: auto;
  background: $black;
  border: 1px solid $white;
  transition: $transition border-color;

  .withPopover.error & {
    border-color: $red;
  }

  .withPopover[data-placement="bottom"] & {
    border-radius: 0 0 $radius $radius;
    border-top: none;
  }

  .withPopover[data-placement="top"] & {
    border-radius: $radius $radius 0 0;
    border-bottom: 0;
  }
}

.items::-webkit-scrollbar {
  background: none;
  width: 7px;
}

.items::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 100vh;
}

.item {
  padding: 12px 14px;
  transition: $transition;
  cursor: pointer;

  &:hover,
  &.active {
    background: $gray-1;
  }
}

.itemsNothing {
  padding: 12px 14px;
}

.chevronIcon {
  transition: $transition;

  .withPopover[data-placement="bottom"][data-status="open"] & {
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale($scale);
    }
  }
}
