@import '@/assets/css/config';

.slider {
  height: 39px;
  width: 100%;
}

.sliderTrack {
  background: $gray-5;
  top: 7px;
  height: 4px;
  border-radius: 10px;

  .slider.multi & {
    &:not(.first):not(.last) {
      background: $gray-3;

      .container.error & {
        background: $red;
      }
    }
  }

  .slider:not(.multi) & {
    &.first {
      background: $gray-3;

      .container.error & {
        background: $red;
      }
    }
  }
}

.sliderThumbContainer {
  @include caption-1;

  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  outline: none;
}

.sliderThumb {
  display: block;
  width: 18px;
  height: 18px;
  background: $gray-3;
  border-radius: 50%;
  cursor: pointer;

  .container.error & {
    background: $red;
  }
}
