@import "@/assets/css/config";

.Home__ChooseCar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 30px;
  margin: 10px;
  opacity: 1;
  transition: 0.7s;
  transition-delay: 0.7s;

  @starting-style {
    opacity: 0;
  }
}

.Home__ChooseCar__select {
  max-width: calc(100% / 5 - 30px * 4 / 5);
  cursor: pointer;
  background: $black;
  border: none;
  color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  text-align: center;
  outline: none;
}
