@import "@/assets/css/config";

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__button {
  font-family: "releway-c";
  background: $black;
  color: $white;
  border: none;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  opacity: 1;
  transition: 0.8s;

  @starting-style {
    opacity: 0;
    transform: translateX(-100%);
  }
}
