@import "@/assets/css/config";

html[data-theme="dark"] {
  .container__button {
    color: #fff;
  }
  svg > path {
    fill: #fff;
  }
}

html[data-theme="light"] {
  .container__button {
    color: #000;
  }
  svg > path {
    fill: #000;
  }
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container__button {
  font-family: "releway-c";
  border: none;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  opacity: 1;
  transition: .7s;

  @starting-style {
    opacity: 0;
    transform: translateX(-100%);
  }
}