@import "@/assets/css/config";

.container {
  display: flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  stroke: $white;
  stroke-width: 1.5px;
  transition: $transition;

  svg {
    path {
      fill: inherit;
      stroke: inherit;
      stroke-width: inherit;
    }
  }
}
