@import "@/assets/css/config";

.main__container {
  width: 100%;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__prefix {
  color: $white;
  font-size: 48px;
}
