@import "@/assets/css/config";

.main__container {
  display: contents;
}

.main__container__prefix {
  height: 15%;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 0.7s;

  @starting-style {
    transform: translateY(1000%);
    opacity: 0;
  }
}

.main__prefix {
  color: $white;
  font-size: 48px;
}

.main_image_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__image {
  max-width: 800px;
  object-fit: contain;
  transition: 0.7s;
  transition-delay: 0.7s;
  transform: rotate3d(0, 1, 0, 180deg);

  @starting-style {
    opacity: 0;
    transform: translateX(-100%) rotate3d(0, 1, 0, 180deg);
  }
}

.main__info_block_with_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.main__info_block {
  width: 25%;
  border-radius: 8% 0 0 8%;
  background: rgba(99, 99, 99, 0.568);
  font-size: 28px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  opacity: 1;
  transition: 0.7s;
  transition-delay: 0.7s;

  @starting-style {
    opacity: 0;
    transform: translateX(100%);
  }
}
