@import "@/assets/css/config";

.main__container {
  display: contents;
}

.main__container__prefix {
  height: 15%;
  display: flex;
  justify-content: center;
}

.main__prefix {
  color: $white;
  font-size: 48px;
}

.main_image_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__image {
  max-width: 800px;
  object-fit: contain;
}

.main__info_block_with_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main__info_block {
  width: 25%;
  border-radius: 8% 0 0 8%;
  background: rgba(99, 99, 99, 0.568);
  font-size: 28px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
