.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

html[data-theme='dark'] {
  .container {
    background: black;
  }
}

html[data-theme='light'] {
  .container {
    background: white;
  }
}