@import "@/assets/css/config";

html[data-theme="dark"] {
  .container, .input, .modal__button {
    color: black;
  }
  .button, .modal__button:hover {
    background: black;
  }
  .button:hover, .modal__button {
    background: white;
  }
  .prefix, .modal__button:hover {
    color: white;
  }
}

html[data-theme="light"] {
  .container, .input, .modal__button {
    color: white;
  }
  .button, .modal__button:hover {
    background: white;
  }
  .button:hover,  .modal__button {
    background: black;
  }
  .prefix, .modal__button:hover {
    color: black;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border: 1px solid $gray-4;
  color: $gray-3;
  border-radius: 8px;
  font-size: 16px;
  line-height: 160%;
  width: 100%;
  cursor: pointer;
  transition: 0.7s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 16px;
}


.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border: 1px solid $gray-4;
  border-radius: 8px;
  font-size: 16px;
  line-height: 160%;
  width: 100%;
  cursor: pointer;
  transition: 0.7s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

