@import "@/assets/css/config";

.AboutUs__container {
  display: flex;
  flex-direction: column;
}

.AboutUs__Title {
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.AboutUs__AdditionalInfo {
  display: flex;
  text-wrap: balance;
  font-size: 18px;
}

.AboutUs__List {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-around;
}

h2 {
  @include heading-2;
  font-weight: 800;
}

P {
  text-wrap: balance;
}
