@import "@/assets/css/config";

img {
  max-width: 50%;
}

.AboutUs__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  gap: 30px;
}

.AboutUs__Title {
  display: flex;
  font-weight: 800;
  justify-content: center;
}

.AboutUs__Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.AboutUs__AdditionalInfo {
  max-width: 50%;
  display: flex;
  text-wrap: balance;
  font-size: 18px;
}
